{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootsrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
        {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="bt">
        <hr>
        <button type="button" class="btn btn-primary mr-5">Primary</button>
        <button type="button" class="btn btn-secondary mr-5">secondary</button>
        <button type="button" class="btn btn-success mr-5">success</button>
        <button type="button" class="btn btn-danger mr-5">danger</button>
        <button type="button" class="btn btn-warning mr-5">warning</button>
        <button type="button" class="btn btn-info mr-5">info</button>       

    </div>

    <script src="{% static 'js/bootsrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>